<p-card class="max-w-[200px]">
  <ng-template #header>
    <div class="flex justify-center pt-4">
      <p-skeleton shape="circle" size="3rem"></p-skeleton>
    </div>
  </ng-template>

  <div class="flex flex-col gap-3">
    <div class="text-center">
      <p-skeleton width="80%" height="1.5rem" class="mb-2"></p-skeleton>
      <p-skeleton width="60%" height="1rem"></p-skeleton>
    </div>

    <div class="text-center">
      <p-skeleton width="70%" height="0.875rem"></p-skeleton>
    </div>
  </div>
</p-card>
